* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	max-width: 1440px;
	font-family: "Open Sans", sans-serif;
	margin: 0 auto;
	background: #FBFAFA;
}
.header__gallery {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.gallery__row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.menu {
	text-transform: uppercase;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	//max-width: 600px;

	justify-content: space-evenly;
	text-align: center;
	align-content: center;
	line-height: 100px;
	margin: 0 auto;
	font-size: 20px;
	color: #2e2e2e;
	background: #ffffff;
	font-weight: 600;
	//border-bottom: 2px solid black;
	box-shadow:0 2px 8px 1px rgba(0,0,0,0.11);
	//box-shadow: 0 4px 16px #ccc;
		a {
			margin: 0 auto;
			text-decoration: none;
			color: #000000;
		}
}
.header__about {
	display: flex;
	flex-direction: column;
	background: #FBFAFA;
	max-width: 840px;
	margin: 20px auto 0 auto;
	margin-bottom: 40px;
	//padding-bottom: 40px;
		h1 {
			text-align: center;
			font-size: 56px;
			font-weight: 300;
			opacity: 1;
			height: 125px;
			color: #555559;
			margin-bottom: 70px;
		}
}
.h1__png {
	width: 93px;
	height: 93px;
	align-content: center;
	justify-content: center;
	margin: 30px auto 0 auto;
}
.header__btn {
	width: 311px;
	height: 66px;
	background: #286782;
	display: block;
	margin: 20px auto 0 auto;
	justify-content: center;
	align-content: center;
	border-radius: 6px;
		span {
			color: #ffffff;
			font-size: 20px;
			text-align: center;
			line-height: 24px;
			font-weight: 600;
		}
}
